body {
  padding: 50px 100px 0px 100px;
}

.banner {
    display: block;
    margin: 0 auto;
}
.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #BF458F;
}

.nav-li {
    float: left;
}

.nav-li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav-li:hover {
    background-color: #CC72A9;
}
